/* NAVIGATION SECTION  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1.1rem;
    padding: 0px 7px;
}
/* HOME SECTION  */
#home{
    height: 399px;
    padding: 3px 9px;
}
#home::before{
    height: 400px;
}
#home p{
    font-size: 13px;
}
/* SERVICES SECTION  */
#services{
    flex-direction: column;
}

#services.box{

}

/* CLIENT SECTION  */
#clients{
    overflow: hidden;
}

/* CONTACT SECTION  */


/* FOOTER SECTION  */

/* utility classes  */

.primary{
    font-size: 23px;
}